{% extends "base.html.j2" %}

{% block title %}Forgot Password{% endblock %}

{% block content %}
    <h2>Forgot Password</h2>
    <form>
        <div class="form-group">
            <label for="email">Email ID</label>
            <input type="email" class="form-control" id="email" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}
